@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 247, 237);
    font-family: 'Ibarra Real Nova', serif;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .card {
    width: 25rem;
    max-width: 100%;
    padding: 1rem 1.324rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: .5s;
border-radius: 15px;
}

.main-container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 8px 2px rgba(97, 70, 35, 0.2);
}

.main-container .card .profile {
    max-width: 10rem;
    border-radius: 50%;
    box-shadow: 0 0 6px 0px rgba(97,70,35,0.4);
}
.main-container .card .card-header {
    background-color: transparent;
    height: auto;
}

.main-container .card .card-header h1 {
    text-transform: capitalize;
    font-size: 2.121rem;
    font-weight: 700;
    color: #33210c;
}

.main-container .card .card-header p {
    text-transform: capitalize;
    font-size: .9885rem;
    font-weight: 600;
    letter-spacing: .56px;
    color: #423a32;
}

.main-container .card .card-body p {
    text-transform: capitalize;
    font-size: 1.12rem;
    font-weight: 500;
    color: #33200a;
}

.main-container .card .card-footer {
    background-color: transparent;
}

/* .main-container .card .card-footer .icons{
    padding: .032rem .8765rem;
} */
.main-container .card .card-footer .icons span {
    padding: 0 1.34rem;
    font-size: 1.34rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #443d36;
}

.main-container .card .card-footer .icons span:hover {
    color: #33200a;

}


/* responsive styling */

@media(max-width:530px) {
    .main-container .card {
        width: 22rem;
    }

    .main-container .card img {
        max-width: 8rem;
    }

    .main-container .card .card-header h1 {
        font-size: 1.785rem;
    }

    .main-container .card .card-body p {
        font-size: 1.0065rem;
    }

}

@media(max-width:360px) {
    .main-container .card {
        max-width: 20rem;
    }

    .main-container .card .card-header h1 {
        font-size: 1.555rem;
    }

    .main-container .card .card-footer .icons span {
        padding: 0 .755rem;
    }
}

@media(max-width:310px) {
    .main-container .card {
        min-width: 100%;
        margin: 0 1rem;
    }

    .main-container .card img {
        max-width: 6.5rem;
    }

    .main-container .card .card-header h1 {
        font-size: 1.255rem;
    }

    .main-container .card .card-body p {
        font-size: .9375rem;
    }

    .main-container .card .card-footer .icons span {
        padding: 0 .65rem;
    }
}